NODE-RED/flows.json
[{"id":"9c636fac.5371f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e21b3728.405708","type":"debug","z":"9c636fac.5371f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":120,"wires":[]},{"id":"ee4521cc.804bd","type":"inject","z":"9c636fac.5371f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":210,"y":180,"wires":[["49e782f3.319dfc"]]},{"id":"de9f79a5.a43328","type":"mqtt in","z":"9c636fac.5371f","name":"RECEBE","topic":"/luminus-hivemq-mqtt-communication/esp001-sender","qos":"2","datatype":"json","broker":"ea695a9f.fe8ae8","x":200,"y":120,"wires":[["e21b3728.405708"]]},{"id":"49e782f3.319dfc","type":"mqtt out","z":"9c636fac.5371f","name":"MANDA","topic":"/luminus-hivemq-mqtt-communication/esp001-receiver","qos":"2","retain":"false","broker":"ea695a9f.fe8ae8","x":400,"y":180,"wires":[]},{"id":"35899546.acc1da","type":"comment","z":"9c636fac.5371f","name":"TEST","info":"","x":280,"y":80,"wires":[]},{"id":"9dd02e4.15ed7d","type":"inject","z":"9c636fac.5371f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":210,"y":240,"wires":[["7fe0eb8a.b9e924"]]},{"id":"7fe0eb8a.b9e924","type":"mqtt out","z":"9c636fac.5371f","name":"MANDA","topic":"/luminus-hivemq-mqtt-communication/esp001-receiver","qos":"2","retain":"false","broker":"ea695a9f.fe8ae8","x":400,"y":240,"wires":[]},{"id":"ea695a9f.fe8ae8","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"clientId-fBiX2BN0Ux","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]